new-gui/Common/ScheduledTasksList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by fernando (CL&P) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="task">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="arg" maxOccurs="unbounded"/>
				<xs:element ref="task"/>
			</xs:choice>
			<xs:attribute name="uid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:enumeration value="1447343100170"/>
						<xs:enumeration value="1447783474754"/>
						<xs:enumeration value="1448040889470"/>
						<xs:enumeration value="1448040914398"/>
						<xs:enumeration value="1448040930574"/>
						<xs:enumeration value="1448040965046"/>
						<xs:enumeration value="1448041110862"/>
						<xs:enumeration value="1448041123719"/>
						<xs:enumeration value="1448041144398"/>
						<xs:enumeration value="1448041161734"/>
						<xs:enumeration value="1448041181743"/>
						<xs:enumeration value="1448041199414"/>
						<xs:enumeration value="1448041211126"/>
						<xs:enumeration value="1448041224478"/>
						<xs:enumeration value="1448041236854"/>
						<xs:enumeration value="1448041247366"/>
						<xs:enumeration value="1448043127546"/>
						<xs:enumeration value="1448044242469"/>
						<xs:enumeration value="1448044345268"/>
						<xs:enumeration value="1448044345352"/>
						<xs:enumeration value="1448044575143"/>
						<xs:enumeration value="1448044575227"/>
						<xs:enumeration value="1448045109215"/>
						<xs:enumeration value="1448045109298"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="status" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ended"/>
						<xs:enumeration value="pending"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CreateEnv_GDR_04"/>
						<xs:enumeration value="Env_GDR_04"/>
						<xs:enumeration value="Env_GDR_04_loess"/>
						<xs:enumeration value="Gridded_Data"/>
						<xs:enumeration value="Gridded_Data_STD"/>
						<xs:enumeration value="J2_240_157_2D"/>
						<xs:enumeration value="J2_240_157_2D_filtered"/>
						<xs:enumeration value="J2_240_edit"/>
						<xs:enumeration value="J2_240_edit_Loess"/>
						<xs:enumeration value="JA1_GPR"/>
						<xs:enumeration value="JA2_GPR"/>
						<xs:enumeration value="Wave_Height"/>
						<xs:enumeration value="Waveforms"/>
						<xs:enumeration value="Waveforms_Summer"/>
						<xs:enumeration value="Wind_Speed"/>
						<xs:enumeration value="complex"/>
						<xs:enumeration value="processing"/>
						<xs:enumeration value="processing2"/>
						<xs:enumeration value="rccc4"/>
						<xs:enumeration value="test"/>
						<xs:enumeration value="test1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="logFile" type="xs:string" use="required"/>
			<xs:attribute name="function">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CopyFile"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="cmd" type="xs:string"/>
			<xs:attribute name="at" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2015-11-12 16:44:00"/>
						<xs:enumeration value="2015-11-17 18:05:00"/>
						<xs:enumeration value="2015-11-20 18:12:00"/>
						<xs:enumeration value="2015-11-20 18:30:00"/>
						<xs:enumeration value="2015-11-20 18:32:00"/>
						<xs:enumeration value="2015-11-20 18:34:00"/>
						<xs:enumeration value="2015-11-20 18:35:00"/>
						<xs:enumeration value="2015-11-20 18:36:00"/>
						<xs:enumeration value="2015-11-20 18:37:00"/>
						<xs:enumeration value="2015-11-20 18:38:00"/>
						<xs:enumeration value="2015-11-20 18:44:00"/>
						<xs:enumeration value="2015-11-20 20:38:00"/>
						<xs:enumeration value="2015-11-21 17:39:00"/>
						<xs:enumeration value="2015-11-22 17:39:00"/>
						<xs:enumeration value="2015-11-23 17:40:00"/>
						<xs:enumeration value="2015-11-24 17:40:00"/>
						<xs:enumeration value="2015-11-25 17:40:00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="processingTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pendingTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="endedTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bratSchedulerConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pendingTasks"/>
				<xs:element ref="endedTasks"/>
				<xs:element ref="processingTasks"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="arg">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="string"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
