new-gui/scheduler/TasksScheduler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="task">
		<xs:complexType>
			<xs:attribute name="uid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:enumeration value="1447393571200"/>
						<xs:enumeration value="1447393617203"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="status" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="pending"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="escaravelho"/>
						<xs:enumeration value="melro"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="logFile" use="required" type="xs:string"/>
			<xs:attribute name="cmd" use="required" type="xs:string"/>
			<xs:attribute name="at" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2015-11-14 05:45:00"/>
						<xs:enumeration value="2015-11-19 11:46:00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="pendingTasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="endedTasks">
		<xs:complexType/>
	</xs:element>
	<xs:element name="bratSchedulerConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pendingTasks"/>
				<xs:element ref="endedTasks"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
